<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header font-weight-bold">
        Validation Form
      </div>
      <div class="card card-body">
        <form [formGroup]="formSignup" (submit)="submit()">
          <div class="form-group">
            <label for="username" [ngClass]="formSignup.controls['username'].invalid ? 'text-danger' : ''" >Username</label>
            <input id="username" formControlName="username" type="text" class="form-control" [ngClass]="formSignup.controls['username'].invalid ? 'is-invalid': ''">
            <!--label class="text-danger" *ngIf="formSignup.controls['username'].hasError('required')">
                Username is required!
            </!--label> -->
            <label class="col" [ngClass]="formSignup.controls['username'].hasError('required') || formSignup.controls['username'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formSignup.controls['username'].hasError('required') ||
                  formSignup.controls['username'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}</i>
                Must be at least 3 characters
            </label>
            <label class="col" [ngClass]="formSignup.controls['username'].hasError('required') || formSignup.controls['username'].hasError('hasLetterAndNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formSignup.controls['username'].hasError('required') ||
                  formSignup.controls['username'].hasError('hasLetterAndNumber') ? 'cancel' :
                  'check_circle' }}</i>
                Must contains only letters and numbers
            </label>
          </div>
          <div class="form-group">
            <label for="email" [ngClass]="formSignup.controls['email'].invalid ? 'text-danger' : ''" >Email Address</label>
            <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="formSignup.controls['email'].invalid ? 'is-invalid': ''">
            <label class="text-danger" *ngIf="formSignup.controls['email'].hasError('required')">
              Email is required
            </label>
            <label class="text-danger" *ngIf="formSignup.controls['email'].hasError('email')">
              Enter a valid email address
            </label>
          </div>
          <div class="form-group">
            <label for="password" [ngClass]="formSignup.controls['password'].invalid ? 'text-danger' : ''" >Password:</label>
            <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="formSignup.controls['password'].invalid ? 'is-invalid': ''">
            <!--label class="text-danger" *ngIf="formSignup.controls['password'].hasError('required')">
              Password is required!
            </!--label> -->
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Must be at least 8 characters
            </label>
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('maxlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('maxlength') ? 'cancel' :
                'check_circle' }}</i>
              Must be less 100 characters
            </label>
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 number
            </label>
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('hasUpperCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('hasUpperCase') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 character in upper case
            </label>
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('hasLowerCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('hasLowerCase') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 character in lower case
            </label>
            <label class="col" [ngClass]="formSignup.controls['password'].hasError('required') || formSignup.controls['password'].hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formSignup.controls['password'].hasError('required') ||
                formSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 Special Character
            </label>
          </div>
          <div class="form-group">
            <label for="confirmPassword" [ngClass]="formSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''">
              Confirm password:
            </label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" [ngClass]="formSignup.controls['confirmPassword'].invalid ? 'is-invalid': ''">
            <label class="text-danger" *ngIf="formSignup.controls['confirmPassword'].hasError('required')">
              Password is required
            </label>
            <label class="text-danger" *ngIf="formSignup.controls['confirmPassword'].hasError('NoPasswordMatch')">
              Password do not match
            </label>
          </div>
          <div class="form-group">
            <button [disabled]="formSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
